@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2> What is the point of reading. You'll accept it anyway'</h2>

<p>Hello there, Good people. I'm Saugata Roy Arghya. Just Checking how this is working! </p>
