@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authentication key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>If you reset your passkey, your authenticator app won't work until you reconfigure it.</strong>
    </p>
    <p>
        This process disables 2FA until you reconfigure your authenticator app.
        If you don't finish setting up your authenticator app, you may lose access to your account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authentication key</button>
    </form>
</div>