@page
@model WalletModel
@{
    ViewData["Title"] = "Digital Wallet";
    ViewData["ActivePage"] = ManageNavPages.Wallet;
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">

        <h5>Account balance : @Model.AccountBalance Tk.</h5>

        <form asp-page-handler="CreditAccount" class="form-inline">
            <label class="sr-only" for="inputAmount">Amount</label>

            <div class="input-group mb-3">
                <input asp-for="@Model.Input.CreditAmount" type="text" class="form-control" min="1">
                <span class="input-group-text">Tk.</span>
            </div>

            <button class="btn btn-success" type="submit">Credit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
